*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    }

body{
    background: white;
}
.bottom{
    height: 400px;
    background: blue;
}

header{
    width: 100%;
    height: 40px;
    background: red;
}

.slide{
    width: 100%;
    background: gray;
    height: 300px;
}

.title-photo{
    
    height: 800px;
    background: white;
    display: block;
    text-align: center;
    
}
.title-photo img{
    margin-left: auto;
    margin-right: auto;
}

section{
    height: 500px;
    background: green;
}
.footer{
    height: 50px;
    width: 100%;
    background: black;
}