*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    }

body{
    background: white;
    justify-content: center;
}
.bottom{
    height: 400px;
    background: blue;
}

header{
    width: 100%;
    height: 40px;
    background: red;
}

.slide{
    width: 100%;
    background: gray;
    height: 300px;
}

.title-photo{
    width:70%;
    background: white;
    display: block;
    
    margin:auto;
    
}
.title-photo h1{
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    margin-left:20%;
    width: 600px;
    
}
.title-photo img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
figcaption{
    font-size: small;
    width: 100%;
    color:gray;
    

}

section{
    width:550px;
    margin-left:auto;
    margin-right: auto;
    margin-top:20px;
    font-size: 1.1875rem;

}

.info{
    display:block;
}

.footer{
    height: 50px;
    width: 100%;
    background: black;
}